<%= render 'header' %>
<section class="projectViewer">
  <div class="container">
    <% @projects.each do |project| %>
      <%= link_to project.title, project, class: "project-link" %><br />
      <p class="description"><%= short_description(project.description) %></p>
    <% end %>
    <br />
    <%= link_to "Submit new project", new_project_path, class: "small-button"%>
  </div>
</section>
