<%= render 'header' %>
<section class="projectViewer">
  <div class="container title">
    <h1 class="phrase">Current Projects</h1>
    <div class="subheader">Here are some of the things that we're working on. Click on one and have a look around.</div>
    <% @projects.each do |project| %>
      <%= link_to project.title, project %><br />
    <% end %>
    <br />
    <%= link_to "New Project", new_project_path %>
  </div>
</section>
