<%= render 'header' %>
<section class="show-project">
  <div class="container">
    <h1><%= @project.title %></h1>
    <h2>Project Leader: <%= @project.leader.name %>
    <p><%= @project.description %></p>
  </div>
</section>
